#ABOUT {
  background: url(/public/images/profile_bg.png) no-repeat center bottom / cover;
  position: relative;
  z-index: 1;
  h3 {
    padding: 0 30px;
  }
}
.about_bg {
  background: linear-gradient(
    rgba(1, 10, 9, 0.9) 0%,
    rgba(1, 10, 9, 0.7) 70%,
    rgba(1, 10, 9, 0) 100%
  );
}
.about_wrap {
  padding-top: 50px;
}
.about_tit {
  .name_ko {
    font-size: 2.2rem;
  }
  .name_en {
    margin: 5px 0 30px;
    color: #cdcdcd;
  }
}
.about_img {
  width: 230px;
  margin: 0 auto;
  img {
    width: 100%;
    display: block;
    border-radius: 20px;
  }
}
@media screen and (min-width: 780px) {
  .about_img {
    width: 50%;
  }
  .about_tit {
    padding: 0 60px;
    .name_ko {
      font-size: 2.8rem;
    }
    .name_en {
      font-size: 2.2rem;
      margin: 10px 0 30px;
    }
  }
  .about_txt_box {
    padding: 0 60px;
    display: flex;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1080px) {
  #ABOUT {
    h3 {
      padding: 0 50px;
    }
  }
  .about_wrap {
    padding: 50px 50px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 120px;
    margin-bottom: 0px;
    transition: 0.5s;
  }
  .about_tit {
    padding: 0;
    .name_ko {
      font-size: 3.4rem;
    }
    .name_en {
      font-size: 2.8rem;
      margin: 5px 0 50px;
    }
  }
  .about_img {
    width: 280px;
    margin: 0 auto;
    img {
      width: 100%;
      display: block;
      border-radius: 20px;
    }
  }
  .about_txt_box {
    padding: 0;
  }
}
