.about_txt {
  margin: max(3.13vw, 40px) 0 max(3.13vw, 40px);
  .pro_tit {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-size: 2rem;
    margin-bottom: 15px;
  }
  .pro_body {
    word-break: keep-all;
    margin-top: 10px;
  }
  .txt_sub {
    font-size: 1.4rem;
    font-weight: 200;
    margin-top: 5px;
    display: block;
  }
}

@media screen and (min-width: 600px) {
  .about_txt {
    .pro_tit {
      font-size: 2rem;
    }
    .pro_body {
      font-size: 1.8rem;
    }
  }
}
@media screen and (min-width: 780px) {
  .about_txt {
    width: 50%;
    .pro_tit {
      font-size: 2.2rem;
    }
    .pro_body {
      font-size: 1.8rem;
    }
    .txt_sub {
      font-size: 1.6rem;
    }
  }
}
@media screen and (min-width: 1080px) {
  .about_txt {
    .pro_tit {
      font-size: 2.8rem;
      margin-bottom: 20px;
    }
    .pro_body {
      font-size: 1.8rem;
      margin-bottom: 15px;
    }
    .txt_sub {
      font-size: 1.4rem;
    }
  }
}
