.Button {
  cursor: pointer;
  border: none;
  white-space: nowrap;
}
.Button_MMENU {
  width: 100%;
  height: 100%;
  .burger {
    display: block;
    height: 2px;
    background: #fff;
    border-radius: 2px;
    margin-bottom: 4px;
    transition: transform 0.3s ease, opacity 0.1s ease;
  }
}
.Button_MMENU.active .burger:nth-of-type(1) {
  transform: rotate(45deg);
}
.Button_MMENU.active .burger:nth-of-type(2) {
  opacity: 0;
}
.Button_MMENU.active .burger:nth-of-type(3) {
  transform: rotate(-45deg);
  margin-top: -12px;
}
.Button_SEND {
  border-radius: 5px;
  width: 100%;
  height: 100%;
  background: var(--mainColor);
  padding: min(1.56vw, 20px);
  min-height: 40px;
  position: relative;
  transition: all 0.3s ease;
  overflow: hidden;
  span {
    display: block;
    position: absolute;
    z-index: 0;
    width: 0px;
    height: 0px;
    border-radius: 100%;
    top: 40%;
    left: 15%;
    transform: translate(-50%, -50%);
    background: var(--txtColor);
    transition: 0.5s;
  }
  p {
    color: var(--txtColor);
    font-size: 1.8rem;
    position: relative;
    z-index: 55;
    transition: all 0.3s ease;
  }
  &:hover {
    span {
      width: 200%;
      padding-top: 200%;
      z-index: 10;
    }
    p {
      color: var(--mainColor);
    }
  }
}
.Button_TOP {
  display: none;
  position: fixed;
  right: 5%;
  bottom: 10%;
  z-index: 2000;
  border-radius: 5px;
  background: rgba(1, 10, 9, 0.35);
  width: 45px;
  height: 45px;
  padding-top: 10px;
  &::after {
    content: "";
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    border-top: 2px solid var(--txtColor);
    border-right: 2px solid var(--txtColor);
    width: 15px;
    height: 15px;
  }
}
.Button_TOP.active {
  display: block;
}
