.Coding {
  width: 100vw;
  height: 100vh;
  position: relative;
  background-color: var(--bgColor);
  z-index: 1;
  display: flex;
  overflow: hidden;
  .coding_wrap {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 100%;
  }
  .coding_title {
    width: 25vw;
    h3 {
      margin-bottom: 50px;
      padding: 0 30px;
      color: #fff;
    }
  }
  .coding_contents {
    width: max-content;
    padding: 15vh 50vw 0 0;
    margin-bottom: 15vh;
    height: 100%;
    display: flex;
    flex: 1;
    flex-wrap: nowrap;
    overflow-x: hidden;
  }
}

@media screen and (min-width: 600px) {
  .Coding {
    .coding_title {
      width: 25vw;
    }
    .coding_contents {
      padding: 10vh 25vw 10vh 0;
      margin-bottom: 0;
    }
  }
}
@media screen and (min-width: 780px) {
  .Coding {
    .coding_contents {
      padding: 80px 25vw 80px 0;
    }
  }
}
@media screen and (min-width: 1080px) {
  #CODING {
    .coding_contents {
      padding: 100px 25vw 100px 0;
    }
    .coding_title {
      h3 {
        padding: 0 50px;
      }
    }
  }
}
