.Contact {
  padding: 10px;
  position: relative;
  z-index: 1;
  background: var(--bgColor);
  .sec_in {
    padding: 80px 0 0;
  }
}
.contact_box {
  background: url(../../public/images/contact_bg.png) no-repeat center top/cover;
  padding: 20px 30px 80px;
  border-radius: 20px;
  h3 {
    padding: 0px;
  }
}
.contact_wrap {
  padding-top: 80px;
}
.contact_txt_wrap {
  width: 85vw;
  padding-bottom: 30px;
}
.con_tit {
  word-break: keep-all;
  font-size: 2.2rem;
  line-height: 1.5;
  margin-bottom: 50px;
  .pc_br {
    display: block;
  }
}
.con_txt {
  margin-bottom: 15px;
}

.mail {
  padding: 20px 0;
  > span {
    width: 20px;
    height: 20px;
    background: var(--mainColor);
    border-radius: 50%;
    margin-right: 15px;
    padding: 2px 1px 0 0;
    vertical-align: middle;
    position: relative;
    &::before {
      content: "";
      width: 10px;
      height: 1.5px;
      background-color: var(--txtColor);
      position: absolute;
      top: 35%;
      left: 60%;
      transform: translate(-50%, -50%) rotate(45deg);
    }
    &::after {
      content: "";
      width: 10px;
      height: 1.5px;
      background-color: var(--txtColor);
      position: absolute;
      top: 65%;
      left: 60%;
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }
}
.form_main {
  max-width: 600px;
  margin: 0 auto;
}
.form_wrap {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.input_box {
  position: relative;
}
.form {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  padding: min(1.17vw, 15px);
  min-height: 45px;
  background: #fff;
  border: 1px solid #9e9e9e;
  transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
}
.label {
  position: absolute;
  font-size: 1.8rem;
  pointer-events: none;
  transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
  top: 1.5rem;
  left: 1rem;
  color: #9e9e9e;
}

.textarea {
  height: 20rem;
  padding: 1.5rem 0 0 1rem;
}
.form:focus {
  outline: none;
  border: 1px solid var(--mainColor);
}

.form:is(:focus, :valid) ~ label {
  transform: translateY(-90%) scale(0.8);
  padding: 5px 8px;
  border-radius: 5px;
  color: var(--mainColor);
  background: #fff;
  font-weight: 700;
  font-size: 2.2rem;
}

@media screen and (min-width: 600px) {
  .contact_wrap {
    padding-top: 100px;
  }
  .contact_txt_wrap {
    padding-bottom: 35px;
  }
  .mail {
    font-size: 1.6rem;
  }
  .form_wrap {
    gap: 15px;
  }
  .form {
    font-size: 1.6rem;
  }
  .textarea {
    height: 24rem;
  }
}
@media screen and (min-width: 780px) {
  .contact_wrap {
    padding: 90px 60px;
  }
  .con_tit {
    font-size: 2.6rem;
    margin-bottom: 60px;
  }
  .contact_txt_wrap {
    padding-bottom: 45px;
  }
}
@media screen and (min-width: 1080px) {
  .contact_wrap {
    display: flex;
    flex-direction: row;
  }
  .contact_box {
    padding: 40px 0 80px 0;
    h3 {
      padding: 0 40px;
    }
  }

  .contact_wrap {
    padding: 80px 80px 100px;
    display: flex;
    justify-content: space-between;
    gap: 50px;
  }
  .contact_txt_wrap {
    width: 100%;
    padding-bottom: 0;
  }
  .con_tit {
    font-size: 3.2rem;
    margin-bottom: 90px;
  }
  .con_txt {
    margin-bottom: 20px;
    font-size: 2.2rem;
  }

  .form_main {
    width: 80%;
  }
  .mail {
    padding: 0 0 40px;
    font-size: 1.8rem;
  }
}
