#DESIGN {
  width: 100%;
  max-width: 1900px;
  position: relative;
  background: var(--bgColor);
  h3 {
    margin-bottom: 50px;
    padding: 0 30px;
  }
  .slide_design {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1080px) {
  #DESIGN {
    h3 {
      padding: 0 50px;
    }
  }
}
