.Header {
  position: fixed;
  background: rgba(1, 10, 9, 0.2);
  backdrop-filter: blur(10px);
  left: 0;
  top: 0;
  width: 100%;
  padding: min(2.34vw, 30px) 0;
  z-index: 990;
  .header_in {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .mobile_wrap {
    position: fixed;
    left: -100%;
    top: 0;
    width: 80%;
    height: 100vh;
    overflow-y: auto;
    background: var(--bgColor);
    z-index: 910;
    padding: 100px 30px;
    transition: 0.3s;
  }
  .gnb_link {
    position: relative;
    margin-bottom: 5px;
    padding: 10px;
    display: block;
    font-size: 2rem;
    font-weight: 400;
    transition: 0.2s ease-in;
    &:hover {
      font-size: 2.4rem;
    }
  }
  .gnb_bg {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background: rgba(35, 35, 35, 0.7);
    z-index: 900;
    display: none;
    transition: 0.2s;
  }
  .mobile_menu {
    margin-top: 5px;
    width: 26px;
    height: 26px;
    position: relative;
    z-index: 999;
  }

  .mobile_wrap.active {
    left: 0;
    height: 100vh;
  }
  .mobile_wrap.active + .gnb_bg {
    display: block;
  }
}

@media screen and (min-width: 1080px) {
  .Header {
    padding: 10px 0;
    .mobile_wrap {
      position: static;
      width: 55%;
      height: auto;
      padding: 0px;
      background: transparent;
    }
    .gnb {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;
    }
    .gnb_link {
      padding: 10px;
      font-size: 1.6rem;
      margin-bottom: 0px;
      &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        background: var(--mainColor);
        transform: scaleX(0);
        transition: 0.5s ease;
        bottom: 0;
        left: 0;
      }
      &:hover {
        font-size: inherit;
      }
      &:hover::before {
        transform: scaleX(1);
      }
    }
    .gnb_bg {
      position: fixed;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      display: none;
    }
    .mobile_menu {
      display: none;
    }
  }
}
