.Images {
  cursor: pointer;
  position: relative;
  img {
    object-fit: cover;
  }
}

.DESIGN_layout {
  figure {
    overflow: hidden;
    border-radius: 10px;
  }
  img {
    max-width: 100%;
    display: block;
  }
}

.DESIGN_hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(27, 27, 27, 0.8);
  overflow: hidden;
  transition: 0.35s ease-in;
  border-radius: 10px;
  h5 {
    font-size: 1.4rem;
    line-height: 1.5;
    word-break: keep-all;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.coding_layout {
  width: 100vw;
  max-width: 400px;
  height: 100%;
  white-space: nowrap;
  overflow: hidden;
  border-right: 1px solid var(--mainColor);
  position: relative;
  figure {
    margin: 6vh 0;
    border-radius: 5px;
  }
  img {
    max-width: 100%;
    display: block;
  }
}
.coding_layout::after {
  position: absolute;
  left: 3%;
  top: 3%;
  color: var(--mainColor);
  font-size: 2rem;
}
.coding_layout:nth-child(1):after {
  content: "01";
}
.coding_layout:nth-child(2):after {
  content: "02";
}
.coding_layout:nth-child(3):after {
  content: "03";
}
.coding_layout:nth-child(4):after {
  content: "04";
}
.coding_layout:nth-child(5):after {
  content: "05";
}
.coding_layout:nth-child(6):after {
  content: "06";
}
.coding_layout:nth-child(7):after {
  content: "07";
}
.coding_layout:nth-child(8):after {
  content: "08";
}

.coding_hover {
  position: absolute;
  top: 85%;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.35s ease-in;
  z-index: 1000;
  h5 {
    font-size: 1.6rem;
    word-break: keep-all;
    text-align: center;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
  }
}
.DESIGN_layout:hover {
  .DESIGN_hover {
    top: 200%;
    transition: all 0.3s ease-out;
  }
  img {
    transform: scale(1.2);
    transition: all 0.4s;
  }
}
.coding_layout:hover {
  .coding_hover {
    top: 78%;
    transition: all 0.3s ease-out;
  }
}

@media screen and (min-width: 600px) {
  .DESIGN_hover {
    h5 {
      font-size: 1.6rem;
    }
  }

  .coding_layout {
    width: 70vw;
    max-width: 350px;
    figure {
      margin: 8vh 0;
    }
  }
  .coding_hover {
    top: 85%;
    h5 {
      font-size: 1.6rem;
    }
  }
  .coding_layout:hover {
    .coding_hover {
      top: 80%;
    }
  }
}
@media screen and (min-width: 780px) {
  .DESIGN_hover {
    h5 {
      font-size: 1.8rem;
    }
  }
  .coding_hover {
    top: 88%;
    h5 {
      font-size: 1.8rem;
    }
  }
  .coding_layout {
    width: 40vw;
    max-width: 320px;
    figure {
      margin: 10vh 0;
    }
  }
  .coding_layout:hover {
    .coding_hover {
      top: 83%;
    }
  }
}
@media screen and (min-width: 1080px) {
  .coding_layout {
    width: 33vw;
    figure {
      margin: 8vh 0;
    }
  }
  .coding_layout:hover {
    .coding_hover {
      top: 75%;
    }
  }
}
@media screen and (min-width: 1280px) {
  .coding_layout {
    width: 30vw;
    figure {
      margin: 6vh 0;
    }
  }
}
