.web_content {
  width: 100%;
  height: 100%;
  font-size: 1.4rem;
  position: relative;
  background-repeat: no-repeat;
  background-position: left top;
  background-size: cover;
  overflow: hidden;
}

.web_bg {
  width: 100%;
  height: 100%;
  padding: 20px 0;
  position: relative;
  background: linear-gradient(
    to left,
    rgba(1, 10, 9, 0.8) 0%,
    rgba(1, 10, 9, 0.5) 75%,
    rgba(1, 10, 9, 0) 100%
  );
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  .web_txt_wrap {
    transition: 0.15s;
    position: relative;
    top: 50%;
    left: 30%;
  }
}

.web_tit {
  font-size: 1.4rem;
  margin-bottom: 15px;
}
.web_txt_list {
  margin-bottom: 7px;
  line-height: 1.5;
  word-break: keep-all;
}

.tool_wrap {
  margin-top: 15px;
}
.tool_icon {
  margin-right: 5px;
  > img {
    width: 22px;
  }
}
.web_modal {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.2;
  bottom: -100%;
  left: 0;
  transition: 0.5s;
}
.web_link {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  text-align: center;
  color: #fff;
  font-size: 1.2rem;
}
.web_link > span {
  opacity: 0;
  width: 0%;
  height: 1px;
  display: block;
  background: #fff;
  margin: 10px auto 0;
  transition: 0.8s;
}
.web_logo {
  margin-top: 15px;
  img {
    display: inline-block;
  }
}

.web_1 .web_logo {
  width: 30%;
  filter: invert(1);
}
.web_3 .web_logo {
  width: 30%;
  filter: brightness(150%);
}
.web_4 .web_logo {
  width: 50%;
}
.web_5 .web_logo {
  width: 15%;
  position: relative;
  &::after {
    content: "코드를 스캔해주세요!";
    position: absolute;
    top: 115%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.4rem;
    color: #ff5a5f;
    width: 250%;
  }
}
.web_6 .web_logo {
  filter: invert(1);
  width: 30%;
}
.web_content:hover {
  .web_modal {
    opacity: 1;
    background: rgba(1, 10, 9, 0.9);
    bottom: 0;
    left: 0;
  }
  .web_link {
    opacity: 1;
    font-size: 2rem;
  }
  .web_link > span {
    opacity: 1;
    width: 90%;
    margin: 20px auto 0;
  }
}
@media screen and (min-width: 600px) {
  .web_bg {
    padding: 20px 10px;
    .web_txt_wrap {
      top: 0%;
      left: 55%;
      width: 50%;
      transform: translateY(0);
    }
  }
  .web_1 .web_logo {
    width: 45%;
  }
  .web_3 .web_logo {
    width: 15%;
  }
  .web_5 .web_logo {
    width: 10%;
  }
  .web_6 .web_logo {
    width: 25%;
  }
  .tool_icon {
    margin-right: 10px;
    > img {
      width: 35px;
    }
  }
}
@media screen and (min-width: 780px) {
  .web_content {
    width: 50%;
    height: 35vh;
    max-height: 260px;
  }
  .web_bg {
    padding: 20px 10px;
    .web_txt_wrap {
      top: 40%;
      left: 50%;
      width: 50%;
      transform: translateY(-50%);
    }
  }
  .web_tit {
    font-size: 1.4rem;
  }
  .web_3 .web_logo {
    width: 30%;
  }
  .web_5 .web_logo {
    width: 20%;
  }
  .web_6 .web_logo {
    width: 35%;
  }
  .tool_icon {
    margin: 10px 0 0 10px;
    img {
      width: 25px;
    }
  }
}
@media screen and (min-width: 1080px) {
  .web_content {
    height: 33vh;
    font-size: 1.6rem;
    max-height: 500px;
  }
  .web_bg {
    padding: 20px;
    .web_txt_wrap {
      left: 50%;
      width: 50%;
      ul > li {
        word-break: keep-all;
      }
    }
  }
  .web_logo {
    margin-top: 20px;
  }
  .web_1 .web_logo {
    width: 30%;
  }
  .web_2 .web_logo {
    width: 25%;
  }
  .web_3 .web_logo {
    width: 28%;
  }
  .web_4 .web_logo {
    width: 30%;
  }
  .web_5 .web_logo {
    width: 15%;
  }
  .web_6 .web_logo {
    width: 30%;
  }
  .web_tit {
    font-size: 1.8rem;
    margin-bottom: 20px;
  }
  .web_txt_list {
    font-size: 1.6rem;
    margin-bottom: 10px;
  }
  .tool_wrap {
    margin-top: 15px;
  }
  .tool_icon {
    margin-right: 10px;
    > img {
      width: 30px;
    }
  }
  .web_link {
    font-size: 2rem;
  }
  .web_content:hover {
    .web_link {
      font-size: 2.4rem;
    }
    .web_link > span {
      margin: 30px auto 0;
    }
  }
}

@media screen and (min-width: 1280px) {
  .web_content {
    height: 30vh;
  }
  .web_bg {
    padding: 20px;
    .web_txt_wrap {
      top: 50%;
      left: 55%;
      width: 50%;
    }
  }
}
