#Visual {
  text-align: center;
  padding-top: 60px;
  position: relative;
  overflow: hidden;
}
.visual_tit {
  font-size: 3.2rem;
  margin-bottom: 15px;
}
.visual_txt {
  font-size: 1.8rem;
  line-height: 1.5;
}
.visual_img {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 380px;
  z-index: 600;
  img {
    display: block;
  }
}
.scroll {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  transition: 3s;
  z-index: 500;
  animation: scroll 1.5s infinite;
  img {
    display: block;
  }
  p {
    margin-top: 10px;
  }
}

@keyframes scroll {
  0% {
    bottom: 5%;
  }
  50% {
    bottom: 6%;
  }
  100% {
    bottom: 5%;
  }
}
@media screen and (min-width: 600px) {
  .visual_tit {
    font-size: 4rem;
  }
  .visual_txt {
    font-size: 2.2rem;
  }
  .visual_img {
    width: 65%;
  }
}
@media screen and (min-width: 780px) {
  .visual_tit {
    font-size: 5rem;
  }
  .visual_txt {
    font-size: 2.4rem;
  }
  .visual_img {
    width: 65%;
    max-width: 330px;
  }
}
@media screen and (min-width: 1080px) {
  .visual_tit {
    font-size: 5.6rem;
  }
  .visual_txt {
    font-size: 2.8rem;
  }
  .visual_img {
    width: 30%;
    max-width: 450px;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -65%);
  }
}
