* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
ul,
ol {
  list-style: none;
}
button,
input {
  background: transparent;
  border: 0;
  outline: 0;
}
img,
video {
  max-width: 100%;
}
